body {
  margin-top: 40px;
  font-family: "Bree Serif", serif;
}
ul {
  list-style-type: none;
}
button {
  background: #212529;
  color: #fff;
}

.container {
  background: radial-gradient(
    circle at 0.7% 1%,
    rgb(215, 248, 247) 0%,
    rgb(102, 188, 239) 100.2%
  );
  padding: 40px;
  border-radius: 8px;
}
.current-temp {
  font-size: 40px;
  margin-left: 80px;
}
.current-conditions {
  font-size: 25px;
}
.day {
  text-decoration: underline;
}
.days-table {
  border: 1px solid;
  border-radius: 4px;
  background: #fff;
}

#fahrenheit-link {
  color: #212529;
}
#celsius-link {
  color: #212529;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperatures {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
#footer {
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}
